openapi: 3.0.0
info:
  title: Data API
  description: |
    # Data API
    Data API specification.
  version: 0.0.0
servers:
  - url: https://api.hiroshifujita.com/v1
    description: production url
tags:
  - name: Training
    description: Training record data.
x-tagGroups:
  - name: Recorder
    tags:
      - Training
paths:
  /recorder/training:
    get:
      summary: Retrieve Training Record List
      description: |
        Return record data list of trainning.
      tags:
        - Training
      parameters:
        - in: query
          name: kind
          schema:
            type: string
            enum:
              - "pushup"
              - "squat"
              - "situp"
          description: training kind tag string
      responses:
        "200":
          $ref: "#/components/responses/TrainingLogs"
    post:
      summary: Create Training Record
      tags:
        - Training
      requestBody:
        description: create training log info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Training"
      responses:
        "201":
          description: Created
    put:
      summary: Update Training Record
      tags:
        - Training
      requestBody:
        description: create training log info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrainingLog"
      responses:
        "200":
          $ref: "#/components/responses/Updated"
    delete:
      summary: Remove Training Record
      tags:
        - Training
      parameters:
        - in: query
          name: id
          schema:
            type: string
          description: |
            training log ID
      responses:
        "200":
          $ref: "#/components/responses/Deleted"

components:
  responses:
    Created:
      description: Created
      content:
        application/json:
          schema:
            type: object
    Updated:
      description: OK
      content:
        application/json:
          schema:
            type: object
    Deleted:
      description: OK
      content:
        application/json:
          schema:
            type: object
    TrainingLogs:
      description: OK
      content:
        application/json:
          schema:
            type: object
            description: |
              Training List
            properties:
              records:
                type: array
                items:
                  $ref: "#/components/schemas/TrainingLog"
  schemas:
    Training:
      type: object
      properties:
        kind:
          type: string
          description: |
            training kind
          enum:
            - "pushup"
            - "squat"
            - "situp"
          example: "pushup"
        date:
          type: string
          description: |
            training date
          format: date-time
          example: "2020-01-01T00:00:00+09:00"
        count:
          type: integer
          description: |
            training count
          format: int
          example: 40
      required:
        - kind
        - date
        - count
    TrainingLog:
      type: object
      properties:
        id:
          type: string
          description: |
            training log ID
          example: "395evd0130fadf0h44faf"
        kind:
          type: string
          description: |
            training kind
          enum:
            - "pushup"
            - "squat"
            - "situp"
          example: "pushup"
        date:
          type: string
          description: |
            training date
          format: date-time
          example: "2020-01-01T00:00:00+09:00"
        count:
          type: integer
          description: |
            training count
          format: int
          example: 40
      required:
        - id
        - kind
        - date
        - count
